 body{
  background:	#EFEDCA;
  font-family: '';
  margin: 0em;
}
@font-face{
  font-family: 'Hero';
  src: url(www.dafontfree.net.url);
}
.saleheader{
  background-color:#E5C8B6;
  text-transform: uppercase;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 10px;
  color:grey;
  padding: 20px;
  text-align: center;
  margin: 0;
}
/* Navigation */

li,a{
  display: block;
  font-family: Arial, Helvetica, sans-serif;
  text-decoration: none;
  color: rgb(68, 67, 67);
  font-size: 13px;

}
nav{
  display: flex;
  justify-content: space-between;
  padding-top: 2em;
  padding-bottom: 2em;
}

.nav1 li{
  display: inline-block;
  padding: 0em 2em;

}
ul{
  padding-left: 1em;
}

.nav1 li a:hover{
color: #FECECC;
}

/* Header */

.headerimg{
  width: 40em;
  float: right;
  margin: 0em 4em 4em 4em;
}

.section-2{
  padding-left:8em ;
  text-align: center;
}
 /* ROW 2 */

.section-3{
  display: block;
  font-size: 28px;
  text-align: center;
  background-color: #E5E3BC;
  color:grey  ;
  padding: 2em;
  margin-top: 20.5em;
}
/* END - ROW 2 */

/* ROW 3 */
figure {
  display: inline-block;
  justify-content:center;
  margin-bottom: 0em;
  
}
figure figcaption {
  margin-top: 10px;
  text-align: center;
  font-family: Helvetica, sans-serif;

}
.section-4{
  text-align: center;
  background-color: white;
 }

 /* END - ROW 3 */

/* ROW 4 */

.section-5{
  background-color:#E5E3BC;
}
.shells{
  width: 450px;
}